<%- include('../partials/header') %>
<div class="container my-5">
  <div class="container text-white py-5 text-center">
    <h1 class="display-4"> About me</h1>
    <p class="lead mb-0">My name is Kiril Mankovsky and im from Ukraine </p>
  </div>

  <div>
    
  </div>
</div>
<%- include('../partials/footer') %>